<div style="margin: 5px;">


    <mat-card style="margin-bottom: 5px;">

        <mat-card-subtitle>
            Map Tools
        </mat-card-subtitle>

        <mat-card-content>
            <button mat-icon-button (click)="map_left_panel_emit_out({func: 'zoom_in', params: {}})">
                <mat-icon aria-label="zoom in">zoom_in</mat-icon>
            </button>

            <button mat-icon-button (click)="map_left_panel_emit_out({func: 'zoom_out', params: {}})">
                <mat-icon aria-label="zoom out">zoom_out</mat-icon>
            </button>
        </mat-card-content>


    </mat-card>

    <mat-card style="margin-bottom: 5px;">

        <mat-card-subtitle>
            Dynamic layers
        </mat-card-subtitle>

        <mat-card-content>

            <div *ngFor="let wms_item of DAT.WMS_layers_dynamic | keyvalue; let wms_i=index;">

                <mat-checkbox
                        [(ngModel)]="wms_item.value.is_selected"
                        (change)="map_left_panel_emit_out({
                                func: 'set_wms_layer_dynamic',
                                params: {layer_name: wms_item.key}})">{{wms_item.value.layer_display_name}}
                </mat-checkbox>
                <br>
                <div [hidden]="!wms_item.value.is_selected" style="margin-left: 30px;">
                    <mat-form-field>
                        <input matInput
                               [matDatepicker]="wms_i"
                               [(ngModel)]="wms_item.value.date_dict.selected_date" placeholder="Choose a date"
                               [min]="wms_item.value.date_dict.min_date"
                               [max]="wms_item.value.date_dict.max_date"
                               (dateChange)="map_left_panel_emit_out({
                               func: 'set_wms_layer_dynamic',
                               params: {layer_name: wms_item.key}})">
                        <mat-datepicker-toggle matSuffix [for]="wms_i"></mat-datepicker-toggle>
                        <mat-datepicker #wms_i></mat-datepicker>
                    </mat-form-field>
                </div>


            </div>

        </mat-card-content>

    </mat-card>

    <mat-card style="margin-bottom: 5px;">
        <mat-card-subtitle>
            Static layers
        </mat-card-subtitle>

        <mat-card-content>
            <div *ngFor="let wms_item of DAT.WMS_layers | keyvalue">

                <mat-checkbox
                        [(ngModel)]="wms_item.value.is_selected"
                        (change)="map_left_panel_emit_out({
                                func: 'set_wms_layer',
                                params: {group_name: 'base_maps', layer_name: wms_item.key}})">{{wms_item.value.layer_display_name}}
                </mat-checkbox>

            </div>

        </mat-card-content>

    </mat-card>


    <mat-card style="margin-bottom: 5px;">

        <mat-card-subtitle>
            Base Layers
        </mat-card-subtitle>

        <mat-card-content>
            <mat-radio-group [(ngModel)]="DAT.base_layer_name"
                             (change)="map_left_panel_emit_out({func: 'set_base_map', params: {base_layer: DAT.base_layer_name}})"
                             aria-label="Select an option"
                             style="display: flex; flex-direction: column;">
                <mat-radio-button value="Satellite">Satellite</mat-radio-button>
                <mat-radio-button value="Streets">Streets</mat-radio-button>
                <mat-radio-button value="Dark">Dark</mat-radio-button>
                <mat-radio-button value="Light">Light</mat-radio-button>
            </mat-radio-group>
        </mat-card-content>

    </mat-card>


</div>


<!---->
